@import './../../variables.module.scss';
 
.contacts{ 
	position: relative; 
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	
}
.contacts [id='mapContainer']{
	visibility: visible !important;
	opacity: 1 !important;
	height: 100% !important;
} 
.contacts  [id='map__image']{
	height: 100% !important;
}

.map{
	flex-grow: 1;
	position: relative;

	&__left{
		display: none;
	}
	&__right{
		display: none;
	}
	&__content{
		width: 100%;
	    padding: 0 0.625em;
	    margin: 0 auto;
	    max-width: 68.8em;
	    display: flex;
    	flex-direction: column;
	}
	&__subtitle{
		display: none;
	}
	&__title{
		font-weight: 500;
		font-size: 2.5em;
		line-height: 1.175;
		color: #76CCF8;
		padding-top: 0.5em;
		padding-bottom: 0.5em;
		border-bottom: solid 0.0625em #fff;
		margin-bottom: 0.725em;
	}
}

.burger{
    cursor: pointer;
    width: 1.375em;
    height: 1.25em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: sticky;
    top: 3em;
    margin-left: auto;

    &__line{
        height: 0.171875em;
        background: #fff;
    }
}


@media(min-width: $PCbreakpoint){
	 
	.map{
		display: flex;
		justify-content: space-between;

		&__left{
			display: block;
			position: relative;
			padding: 2.7em 0em 2.7em 2.7em;
			width: 21.5em;
		}
		&__logo{ 
			width: 8.75em;
			display: block; 
		}
		&__logoImage{
			position: relative;
			width: 100%;
			height: auto;
	        left: -50vw;
	        -webkit-animation: "slide" 0.5s forwards;
	        -webkit-animation-delay: 0s;
	        animation: "slide" 0.5s forwards;
	        animation-delay: 0s;
		}
		&__right{
			width: 21.5em;
			position: relative;
			display: block;
			padding: 3em 3.1em;
		} 
		&__subtitle{
			display: block;
			color: #C2C2C2;
			font-size: 1.125em;
			line-height: 1.2;
			padding-top: 2.7em;
		}
		&__hr{
			border-bottom: solid 0.0625em #fff;
			padding-top: 3.3em;
		}
		&__title{
			border-bottom: none;
			font-size: 5.625em;
		    padding-top: 0.46em;
    		margin-left: -0.1em;
    		padding-bottom: 0;
    		margin-bottom: 0;
		}
	}
} 