#menu li:last-child{
    position: absolute;
    left: 0;
    top: 1.2em;
    width: 0.5625em;
    height: 0.5625em;
    border-radius: 100%;
    background: #FFFFFF;
    transition: 0.4s transform;
}
#menu li.active:nth-child(2)~li:last-child{
    transform: translateY(2.831em);
}
#menu li.active:nth-child(3)~li:last-child{
    transform: translateY(5.662em);
}
#menu li.active:nth-child(4)~li:last-child{
    transform: translateY(8.493em);
}
#menu li.active:nth-child(5)~li:last-child{
    transform: translateY(11.324em);
}
#menu li.active:nth-child(6)~li:last-child{
    transform: translateY(14.155em);
}

.stopped,.playing{
    line-height: 0;
    position: relative;
}
.stopped::after{
    content: "";
    display: block;
    width: 120%;
    background: #7FAEF4;
    position: absolute;
    border-radius: 1em;
    height: 0.125em;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) rotate(-30deg);
}
