@import './../../variables.module.scss';

 
.about{
	margin-top: 2em;
	margin-bottom: 2em;
}
.aboutRow{


	&__element{
		margin-bottom: 1.5em;
	}
	&__title{
		font-weight: 700;
		font-size: 2.5em;
		line-height: 1.18;  
		margin-bottom: 0.35em;
	}
	&__text{
		font-weight: 500;
		line-height: 1.5;
	}
}

@media(min-width: $PCbreakpoint){ 
	.about{
		margin-top: 3.7em;
		margin-bottom: 5em;
	}
	.aboutRow{
		display: flex;
		flex-wrap: wrap;
		padding-bottom: 3.1em;
		border-bottom: solid 0.0625em #fff;
		margin-bottom: 4.7em;

		&__element{
			width: 12.5625em;
			margin-right: 10.45em;
		}
		&__element:nth-child(3n+3){
			margin-right: 0;
		}
		&__title{
			font-size: 3.125em;
		} 
	}
	.aboutRow+.aboutRow{
		border-bottom-color: #555;
		padding-bottom: 3.8em;
		margin-bottom: 5.3em;
	}
}

.employees{
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;

	&__title{
		font-weight: 500;
		font-size: 1.5em;
		line-height: 1.1666;
		width: 100%;
		margin-bottom: 0.7em;
	}
	&__element{
		width: 100%;
		margin-bottom: 1.5em;
	}
	&__ava{
		position: relative;
		width: 100%;
		padding-bottom: 100%;
		margin-bottom: 0.5em;
	}
	&__image{
		position: absolute;
		left: 0;
		top: 0;
		max-width: inherit;
		max-height: inherit;
		width: 100%;
		height: 100%;
		transform: translate3d(0,0,0);
		object-fit: cover;
	}
	&__name{
		font-weight: 500;
		font-size: 1.2em;
		line-height: 1.5; 
		color: #54ADDA;
		margin-bottom: 0.45em;
	}
	&__text{
		color: #C5C5C5;
		line-height: 1.5;
	}
}
@media(min-width: 600px){
	.employees{
		&__element{
			width: 50%;
		}
	}
}
@media(min-width: $PCbreakpoint){
	.employees{

		&__title{
			font-size: 1.875em;
			margin-bottom: 1.15em;
		}
		&__element{
			width: 33.333%;
			margin-bottom: 5.35em;
		}
		&__name{
			font-size: 1.5em;
		}
		&__ava{
			margin-bottom: 1.3em;
		}
	}
}