.fp-viewing-contacts .section[data-div="contacts"] a[href="#contacts"]{
	display: none;
}
.fp-viewing-contacts .section[data-div="contacts"] h2{
	color: #76CCF8;
}
@media(min-width: 1200px){
	.fp-viewing-contacts .section[data-div="contacts"] h2{
		font-size: 5.625em;
	}
}