$bodyBackground: #0C0C0D;
$fontColor: #fff;
$linkColor: #76CCF8;
$linkHoverColor: #3A5795;
$IRSgradient: linear-gradient(90deg, #54ADDA 0%, #7876B6 100%);
$IRSgradientHOVER: linear-gradient(90deg, #7876B6 0%, #54ADDA 100%);
$PCbreakpoint: 1200px;
$PCbreakpointMAX: 1199px;
$PCbp : 800px;