@import './../../variables.module.scss';


.employees{
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	padding-top: 2.5em;
 
	&__element{
		width: 100%;
		margin-bottom: 1.5em;
	}
	&__ava{
		position: relative;
		width: 100%;
		padding-bottom: 100%;
		margin-bottom: 0.5em;
	}
	&__image{
		position: absolute;
		left: 0;
		top: 0;
		max-width: inherit;
		max-height: inherit;
		width: 100%;
		height: 100%;
		transform: translate3d(0,0,0);
		object-fit: cover;
	}
	&__name{
		font-weight: 500;
		font-size: 1.2em;
		line-height: 1.5; 
		color: #54ADDA;
		margin-bottom: 0.45em;
	}
	&__text{
		color: #C5C5C5;
		line-height: 1.5;
	}
}
@media(min-width: 600px){
	.employees{
		&__element{
			width: 50%;
		}
	}
}
@media(min-width: $PCbreakpoint){
	.employees{
 
		&__element{
			width: 33.333%;
			margin-bottom: 4.2em;
		}
		&__name{
			font-size: 1.5em;
		}
		&__ava{
			margin-bottom: 1.3em;
		}
	}
}