@import './../../../variables.module.scss';

.section{
	height: 100%; 
	display: flex;
	flex-direction: column;
	position: relative;

	&__background{
		position: absolute;
		pointer-events: none;
		left: 0;
		top: 0;
		bottom: 0;
		right: 0;
		overflow: hidden;
	}
	&__backgroundBlur{
		position: absolute;
		max-width: inherit;
		max-height: inherit;
		top: 0;
		left: 50%;
		transform: translateX(-50%); 
	}
	&__backgroundBlurPC{
		height: auto;
		width: 216.0625em;
		display: none;
		position: absolute;
		max-width: inherit;
		max-height: inherit;
		top: 50%;
		left: 50%;
		transform: translate(-61%, -48%); 
	}
}

.bottom{
	position: relative;
	z-index: 2;
	&__left{
		padding: 0 0.625em;
	}
	&__title{
		font-weight: 500;
		font-size: 2.5em;
		line-height: 1.175;
		margin: 0 0 0.5em;
	}
	&__text{
		color: #D0D0D0;
		line-height: 1.5;
		margin-bottom: 1.625em;
	}
	&__button{
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 5.9375em;
		max-width: 25em;
		background: $IRSgradient;
		font-size: 1.125em;
		border: 0.166em solid #7e90c5; 
		border-radius: 1.666em;
	}
	&__button::before {
	    content: '';
	    position: absolute;
	    top: 0;
	    right: 0;
	    bottom: 0;
	    left: 0; 
		border-radius: 1.666em; 
	    background: $IRSgradientHOVER; 
	    transition: opacity .5s;
	    opacity: 0; 
	} 
	&__button span{
		position: relative;
		z-index: 1;
		color: #fff;
	}
	&__button:hover::before,&__button:active::before{
		opacity: 1;
	}
	&__svg{
		display: none;
	}
	&__right{
		overflow: hidden;
		height: 28.25em;
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		background-image: url('mobile-video-fon.svg');
		background-repeat: repeat-x;
		background-position: bottom center;
		padding-top: 5.1875em;
	}
	&__play{
		display: flex;
		justify-content: center;
		align-items: center;
		width: 16.3125em;
		height: 16.3125em;
		border-radius: 100%;
		position: relative;
		margin-bottom: 2.5em;
		cursor: pointer;
	}
	&__play::before{
		content: "";
		display: block;
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-52.2%, -45.7%);
		width: 28.8125em;
		height: 28.8125em;
		background-image: url('play-bg.png');
		background-repeat: no-repeat;
		background-position: center;
		background-size: 100% 100%;
		pointer-events: none;
		transition: 0.5s;
	} 
	&__round{
		background: linear-gradient(180deg, #0C0C0D 0%, rgba(12, 12, 13, 0) 100%);
		filter: drop-shadow(0 0.3125em 1.875em rgba(78, 77, 126, 0.1));
		width: 11.9375em;
		height: 11.9375em;
		border-radius: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;
		z-index: 1;
	}
	&__round svg{
		width: 1.5em;
		height: auto;
	}
	&__videoName{
		font-weight: 500;
		position: relative;
	}
}
.top{
	position: relative;
	z-index: 2;
	display: none;
	justify-content: space-between;
	width: 67.625em;
	align-items: center;
	margin: auto auto 0;
	padding: 3em 0;

	&__left{
		font-size: 1.125em;
	}
	&__right{
		font-size: 1.125em;
		font-weight: 500;
		color: #51B1DD;
	}
}

@media(min-width: $PCbreakpoint){

	div[id="videoImage"]{
	    display: block;
	    position: absolute;
	    width: 100%;
	    height: 100%;
	    max-width: inherit;
	    max-height: inherit;
	    left: 0%;
	    top: 0%; 
	    opacity: 0; 
	    pointer-events: none;
	    background-position: center;
	    background-size: cover;
	    background-repeat: no-repeat;
	    transition: 0.7s;
	    clip-path: circle(0% at 50% 50%);
	}
	div[id="videoImage"]::after{
		content: "";
		display: block;
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background: #1A1B25;
		opacity: 0.7;
	}
	div[data-stage='2'] div[id="videoImage"]{
		background-image: url('bg.jpg');		
	}
	div[data-stage='3'] div[id="videoImage"]{
		background-image: url('bg.jpg'); 
		clip-path: circle(100% at 50% 50%);
		opacity: 1;
	}
	.top{
		display: flex;
		margin: 0 auto auto;
	}
	div[data-stage='2'] .bottom{
		background-position-y: 100vh;

		&__play::before{
			width: 0;
			height: 0;
		} 
		&__play::after{
			width: 43em;
			height: 43em;
		}
	}
	div[data-stage='3'] .bottom{
		background-position-y: 100vh;

		&__play::before{
			width: 0;
			height: 0;
			position: fixed;
			background-image: url('bg.jpg');
		} 
		&__play::after{
			width: 0;
			height: 0;
		}
	}
	.bottom{ 
		display: flex;
		flex-direction: column; 
		background-image: url('video-fon.svg');
		background-repeat: repeat-x;
		background-position: center 2em;
		background-size: 120em auto;
		max-height: 45em;
		height: 67%;
		min-height: 36em;
		transition: 0.5s;

		&__play::after{
			content: "";
			display: block;
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%); 
			width: 0;
			height: 0;
			border-radius: 100%;
			transition: 0.5s;
			background-image: url('play-bg2.png');
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
		}

		&__container{
			width: 67.625em;
			height: 100%;
			margin: auto auto 0;
			display: flex;
			justify-content: space-between;
			align-items: flex-start;
		}
		&__left{
			width: 44.625em;
			padding: 11.4em 0 0;    
			height: 100%;
			display: flex;
    		flex-direction: column;
    		position: relative;
    		z-index: 2;
		}
		&__title{
			font-size: 3.125em;
			line-height: 1.18;
			margin-bottom: 0.54em;
		}
		&__text{
		    margin-bottom: 2.825em;
		}
		&__button{
			height: 5.277em;
			max-width: 16.66em;
		    padding-bottom: 0.2em;
		}
		&__svg{
			display: block;
			margin: auto 0;
			width: 1.0625em;
			height: auto;
			cursor: pointer;
		}
		&__right{
			background: none;
			padding-top: 6.9em;
		    width: 21.7em;
		    overflow: inherit;
		}
	}
	.section{

		&__backgroundBlur{
			display: none;
		}
		&__backgroundBlurPC{
			display: block;
		}
	}
}