@import './../../../variables.module.scss';

.button{
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	color: $fontColor !important;
	background: $IRSgradient;
	width: 100%;
	font-weight: 500;
	font-size: 1.875em;
	margin-top: auto;
	height: 4.366em;
	flex-shrink: 0;
	border: none;
	padding: 0;
}


@media(min-width: $PCbreakpoint){
	.button{
		display: none;
	}
}