@import './../../../variables.module.scss';



.social{
	padding-top: 2.5em;
	padding-bottom: 1.9em;
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;

	&__link{
		position: relative;
		width: 33.33%;
		padding-bottom: 33.33%;
	}
	&__link svg{
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		width: 4.6875em;
		height: auto;
	}
	&__linkFB{
		background: #3A5795;
	}
	&__linkINST{
		background: #F00075;
	}
	&__linkVK{
		background: #4D7198;
	}
}