@import './../../../variables.module.scss';

.header{
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	padding: 1.6875em 0.625em 2.5em;
	position: relative;
	z-index: 2;

	&__link{
		line-height: 0;

	}
	&__image{
		width: 10.25em;
		height: auto;
	}
}

.burger{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 1.9375em;

	&__line{
		display: block;
		width: 2.2143em;
		height: 0.2768em;
		background: #fff;
	}
}

@media(min-width: $PCbreakpoint){
	.header{
		display: none;
	}
}