@import './../../../variables.module.scss';

.social{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 8em;
	flex-shrink: 0;
	margin-top: auto;
	transition: 0.5s opacity;

	&__link{
		margin: 0 0.8125em;
	}
	&__link svg{
		height: auto;
		width: 1.685em;
		transform: translate3d(0,0,0)
	}
}
@media(min-width: $PCbreakpoint){
	.social{
		display: none;
	}
	aside .social{
		display: block;
		position: fixed;
		bottom: 7.8em;
	    left: 0.9em;
	    width: auto;
	    height: auto;
	    transform: rotate( -90deg );

	}
}