@import './../../variables.module.scss';

[id="main-menu"]{
    transition: 0.5s transform;
    transform: translateY(-100%);
}



.menu{
    background: $bodyBackground;
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;


    &__top{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 1em;
        height: 4em;
        width: 100%;
        margin: 0 auto;
        max-width: 115.8em;
    }
    &__logo{
        width: 8.75em;
        height: auto;
    }
    &__closeWrapper{
        width: 8.75em;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    &__close{
        background: transparent;
        border: none;
        color: $fontColor;
        padding: 0;
        line-height: 0;
        width: 0.459em;
        height: 0.459em;
        font-size: 3em; 
        position: relative;
    }
    &__closeText{
        position: absolute;
        left: 50%;
        top: 43%;
        transform: translate(-50%,-50%);
    }
    &__middle{
        display: none;
    }
    &__nav{
        flex-grow: 1;
        padding: 1em;
        overflow: auto;
    }
    &__ul{
        height: 100%;
        overflow: auto;
        max-width: 67.5em;
        margin: 0 auto;
    }
    &__li{
        margin-bottom: 1em;
    }
    &__li:last-child{
        margin-bottom: 0
    }
    &__link{
        display: flex;
        justify-content: space-between;
        align-items: center;
        color:  #fff;
        transition: 0;
    }
    &__link:hover{
        color: #54ADDA;
    }
    &__linkText{
        font-weight: 700;
        text-transform: uppercase;
        transition: 0.2s color;
    }
    &__linkNumber{
        transition: 0.2s color;
        font-weight: 400;
        font-size: 0.75em;
    }
}
@media(min-width: $PCbreakpoint){
    .menu{


        &__top{
            height: 7.75em;
        }
        &__closeText{
            top: 25%;
        }
        &__middle{
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 100%;
            width: calc(100% - 22em);
            max-width: 67.5em;
            padding-bottom: 0.4em;
            border-bottom: solid 0.0625em #fff;
        }
        &__back{
            color: #76CCF8;
            font-weight: 500;
            font-size: 1.125em;
        }
        &__title{
            font-size: 1.125em;
        }
        &__nav{
            padding-top: 7.4em;
        }
        &__linkText{
            font-size: 3.125em;
        }
        &__li{
            margin-bottom: 2.5em;
        }
        &__linkNumber{
            font-size: 1.125em;
            padding-top: 1.4em;
        }
    }
}